.container.py-5
  .row 
    .col-4.offset-4.shadow-sm.px-4.py-4.rounded
      .fw-bold.text-center Forgot your password? 
      %hr
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        .form-inputs
          .border.d-flex.border-dark.rounded
            .d-flex.align-items-center.justify-content-center.ps-3.pe-1
              .fa.fa-envelope.text-muted
              = f.input :email,required: true,label:false,placeholder:"Email", autofocus: true,input_html: { autocomplete: "email", class:"py-2 no-focus-input width-100 height-48px font-18" } 
        .form-actions.d-grid.gap-2.mt-3
          = f.button :submit, "Send me reset password instructions", class:'btn btn-primary py-2 height-48px font-18 fw-bold'
      .mt-4= render "devise/shared/links"
