.col-sm-6.col-md-3.col-lg-3.mb-3  
  .card.shadow
    = link_to course, class:"text-decoration-none text-black" do
      %img.card-img-top{:alt => "skillup", :src => "https://thumbs.dreamstime.com/b/monarch-orange-butterfly-bright-summer-flowers-background-blue-foliage-fairy-garden-macro-artistic-image-monarch-167030287.jpg"}/
      .card-body
        %h5.card-title.fw-bold.h6 
          = course.title
        .course-instructor-card
          = course.user.username
        %span.fw-bold.text-rating.font-14= course.average_rating
        %small.text-muted= "(#{course.enrollments_count})"
        .font-weight-600.mt-1.letter-spacing-1= number_to_currency(course.price)
    -# - if policy(course).update?
    -#   .card-footer.d-flex.justify-content-end.position-relative
    -#     %small.position-absolute.card-time.text-muted
    -#       = time_ago_in_words(course.created_at)    
    -#     - if policy(course).update?
    -#       = link_to edit_course_path(course), class:"btn btn-sm btn-warning" do 
    -#         .fa.fa-pencil-alt
    -#         Edit
    -#     - if policy(course).destroy?
    -#       = link_to course, method: :delete, data: { confirm:'Are you sure?' }, class:"btn btn-sm btn-danger ms-2" do 
    -#         .fa.fa-trash
    -#         Delete
    = link_to "Approve", approve_course_path(course), method: :patch
   
           
