= render layout: 'courses/course_wizard/step' do
  = simple_form_for @course, url: course_course_wizard_path, method: :put do |f|
    = f.input :title, class:'form-control'
    = f.input :short_description
    = f.input :language, collection:Course.languages, as: :radio_buttons
    = f.input :avatar
    .mt-2.text-end= f.button :submit, "Save and continue"
